body {
    margin: 0;
    padding: 0;
    background-color: red;
}

.navBar {
    position: fixed;
    height: 70px;
    box-shadow: 1px 8px 10px #8888881c;
    width: 100%;
    z-index: 500;
    background-color: #fff;
    top: 0px;
}

.logo {
    width: 200px;
    position: absolute;
    top: -62px;
    left: 120px;
}

.nav-links {
    position: relative;
    left: 50%;
    margin: 20px;
    top: 20px;
    z-index: 200;
}

.topSlider {
    position: relative;
    margin-top: 72px;
}

.parallex {
    height: 40vh;
    width: 100%;
    /* background-image: url("images/parrlax.jpg"); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.welcomeHeading {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.welcomePara {
    width: 80%;
    margin: auto;
    text-align: center;
    line-height: 1.8;
    margin-bottom: -10px;
}

.servicesHeading {
    text-align: center;
    margin-bottom: 20px;
    margin-top: -50px;
}

.servicesSubHeading {
    text-align: center;
    font-size: 22px;
    font-weight: normal;
}

.servicesSubPara {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

.carousel {
    background: rgba(12, 104, 209, 0.041);
    padding: 10px;
}

.carousel-cell {
    width: 28%;
    height: 200px;
    margin: 0px 50px;
    background: rgba(136, 204, 168, 0);
    border-radius: 5px;
    counter-increment: carousel-cell;
}

.carousel-cell.is-selected {}

.carousel-cell {
    width: 200px;
}

.carousel2Image {
    width: 200px;
    border-radius: 20px;
    border: 10px solid white;
}

.testimonialDiv {
    max-width: 100%;
    height: auto;
    overflow-x: auto;
    white-space: nowrap;
}

.testimonialHeading {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 40px;
}

.uniqeTestimonial {
    height: 200px;
    width: 200px;
    background-color: red;
    display: inline-block;
}

.testimonialImage {
    width: 80px;
    text-align: center;
    position: relative;
    top: 5px;
}

.testimonialname {
    font-size: 20px;
    margin-top: 10px;
    font-weight: normal;
}

.testimonialPara {
    font-weight: 100;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

.comment {
    width: 100px;
}

.carousel-cell1 {
    /* width: 250px;
  height: 350px;
  text-align: center;
  padding: 30px 0px 0px 0px;
  border: 1px solid grey;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.671);
  margin: 0px 20px; */
    width: 250px;
}

.carouselcolor {
    padding: 20px 0px;
    background-color: rgba(12, 104, 209, 0.041);
}

.gallary {
    height: 500px;
    border: 1px solid rgba(128, 128, 128, 0);
    width: 98%;
    margin: auto;
    margin-top: 50px;
    margin-bottom:-20px;
}

.gallaryHeading {
    position: relative;
    top: 40%;
    text-align: center;
}

.footer {
    height: 200px;
    /* border: 1px solid black; */
    color: white;
    background-color: #584955;
    padding: 10px;
}

.navBtn {
    display: none;
}

#phoneMenu {
    height: 200px;
    background-color: rgba(197, 197, 197, 0.959);
    width: 100%;
    position: fixed;
    top: 70px;
    height: 100vh;
    margin: auto;
    left: 0px;
    z-index: 1000;
    display: none;
    text-align: center;
}

.phoneNavLink {
    font-size: 30px;
    position: relative;
    top: 85px;
    font-weight: 400;
}

.Pabout {
    top: 100px;
}

.Phow {
    top: 115px;
}

.Pservices {
    top: 135px;
}

.Pcontact {
    top: 150px;
}

.orderBtn {
    position: fixed;
    bottom: 22px;
    background-color: #83186c;
    color: white;
}

.footerHeadings {
    font-weight: 400;
}

.copyright {
    height: auto;
    background-color: rgba(255, 0, 191, 0.267);
    text-align: center;
    padding: 5px;
}

.copyrighttext {
    display: inline-block;
    margin-bottom: -19px;
}

.year {
    display: inline-block;
    position: relative;
    margin-bottom: -30px;
}

.babyImages {}

.aboutHeading {}

#servicesDiv {
    position: absolute;
    height: 60%;
    top: 10%;
    left: 13.5%;
    background-color: #83186cf5;
    width: 70%;
    margin: auto;
    z-index: 100;
    padding: 10px;
    display: none;
}

.servicesMenuLinks {
    color: white;
    font-size: 20px;
    margin-top: 30px;
    position: relative;
    /* top: 15px; */
}

#cross {
    color: white;
    margin-bottom: -20px;
    position: absolute;
    right: 20px;
    top: 12px;
    font-size: 20px;
}

.babyHandDiv {
    text-align: center;
    padding: 10px;
}

#whatsappicon {
    position: fixed;
    z-index: 600;
    bottom: 30px;
    width: 20%;
    right: 10px;
    /* box-shadow: 2px 2px 10px grey; */
    border-radius: 200px;
    visibility: hidden;
}

#chatdiv {
    position: fixed;
    z-index: 599;
    bottom: 49px;
    right: 68px;
    background-color: rgba(131, 10, 100, 0.938);
    visibility: hidden;
    /* transition-delay: 250ms;
    transition-property: margin-right; */
    border-radius: 30px;
    padding-right: 25px;
    padding-bottom: 2px;
    padding-left: 8px;
    color: white;
    box-shadow: 2px 2px 10px rgb(85, 85, 85);
    font-size: 20px;
}

@media(max-width:998px) {
    .nav-links {
        display: none;
    }
    .logo {
        width:120px;
        position: absolute;
        top: -12px;
        left: 3%;
    }
    .topSlider {
        position: relative;
        margin-top: 62px;
        width: 105%;
        margin-left: -12px;
        margin-right: -20px;
    }
    .welcomeHeading {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 25px;
    }
    .welcomePara {
        width: 80%;
        margin: auto;
        text-align: center;
        line-height: 1.8;
        margin-bottom: -10px;
        font-weight: 500;
        font-size: 18px;
    }
    .servicesHeading {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 30px;
        font-size: 25px;
        color: rgb(87, 44, 65);
        ;
    }
    .parallex {
        height: 60vh;
        width: 100%;
        background-image: url("images/parllax.png");
        background-blend-mode: hue;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        color: white;
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .servicesSubHeading {
        text-align: center;
        font-size: 19px;
        font-weight: normal;
        color: rgb(65, 31, 48);
    }
    .servicesSubPara {
        text-align: center;
        font-size: 16px;
        font-weight: normal;
        width: 70%;
        margin: auto;
        margin-bottom: 30px;
        color: grey;
    }
    .carousel-cell {
        width: 40%;
        height: 200px;
        margin: 0px 50px;
        background: rgba(136, 204, 168, 0);
        border-radius: 5px;
        counter-increment: carousel-cell;
    }
    .carousel-cell1 {
        width: 250px;
        height: 350px;
        text-align: center;
        padding: 30px 0px 0px 0px;
        border: 1px solid grey;
        border-radius: 20px;
        background-color: white;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.671);
        margin: 0px 30px;
    }
    .testimonialHeading {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .footer {
        height: auto;
        /* border: 1px solid black; */
        padding: 20px 10px;
    }
    .navBtn {
        display: block;
        position: absolute;
        right: 20px;
        top: 14px;
    }
    .line {
        border: 1px solid;
        width: 30px;
        margin: 10px 0px;
    }
    .babyImages {
        width: 70%;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    .aboutHeading {
        font-size: 45x;
        text-align: center;
        font-weight: 400;
        color: #83186c;
    }
    .aboutDiv {
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .aboutWelcome {
        font-weight: 400;
        color: #494949;
    }
    .how{
        margin-top:90px;
        margin-bottom: 50px;
    }
    
    .howSub{
        text-align: center;
        /* border: 1px solid black; */
        padding:10px;
        margin:20px;
        box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.37);
        border-radius:5px;
    }

    .howHeading{
        margin-top:20px;
    }

    .howSubImgLeft{
        width:90%;
        border-radius:5px;
        margin-top: 10px;
        margin-bottom:10px;

    }
    .howSubLeft{
        display: inline;
    }
    .howSubRight{
        display: inline;
    }
    .howSubHeadRight{
        /* display: inline; */
        text-align: center;
        font-size: 20px;
    }
    .howSubParaRight{
        /* display: inline; */
        text-align: center;
    }
    .aboutTop{
        width: 100%;
        margin-bottom: 40px;
    }
    .gallery1{
        
        position: absolute;
        top: -180px;
        left: 0px;
  
    }

    .gallery1:hover{
       transform: scale(1.3);
       border:0px solid ;
       z-index:1001;
    }
  
    .gallery2{   
        position: absolute;
        top: -180px;
        right: 0px;

    }

    .gallery2:hover{
        transform: scale(1.3);
        border:0px solid ;
        z-index:1001;
     }

    
    .gallery3{
        position: absolute;
        top: 0px;
        left:0px;
    }
    .gallery3:hover{
        transform: scale(1.3);
        border:0px solid ;
        z-index:1001;
     }
    .gallery4{
        position: absolute;
        top: 0px;
        right:0px
    }
    .gallery4:hover{
        transform: scale(1.3);
        border:0px solid ;
        z-index:1001;
     }
    .gallery{
        margin: 10px;
        width: 45%;
        border-radius: 10px;
        border:4px solid #8a196e1a;
        transition: 400ms ease;
    }
    .ourG{
        z-index:1001;
        position: relative;
        bottom: 250px;
        margin-top:70px;
    }
    .testimonial{
        margin-bottom:50px;
    }
    .adBtn{
        border: 1px solid black;
        border-color: #83186c;
        margin: auto;
        background-color: white;
        font-size: 20px;
        position: relative;
        text-align: center;
        left: 20%;
        color: #83186c;
        transition: 600ms ease;
        border-radius: 5px;
        margin-bottom: 20px;
    }

   .adBtn:hover{
       background-color: #83186c;
       border: white;
       color: white;
   }

   .adBtnInquire{
       
    border: 1px solid black;
    border-color: #83186c;
    margin: auto;
    background-color: white;
    font-size: 20px;
    position: relative;
    text-align: center;
    left: 34%;
    color: #83186c;
    transition: 600ms ease;
    border-radius: 5px;
    margin-bottom: 30px;
   }

   .adBtnInquire:hover{
    background-color: #83186c;
    border: white;
    color: white;
}
.ListDiv{
    position: relative;
    top: 80px;
    margin-bottom: 50px;
    height:700px;
    background-color:#fcf1f9e8 ;

}

.boxes{
    height:10px;
}

.listSubHead{
    font-size: 18px;
    text-align: center;
    color: #463141;
}

.listSubHead1{
    font-size: 20px;
    position: relative;
    left:10%;
    display: inline-block;
    top: 40px;
}
.listBox{
    text-align: center;
    margin: auto;
    position: relative;
    left:4%;
}

.listBoxLeft{
    margin:0px 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 40%;
    border-right: 1px solid;
}

.listBoxRight{
    margin:0px 10px;
    /* border: 1px solid black; */
    width: 40%;
}

.dicount{
    display: inline-block;
    position:relative;
    left: 20%;
    color: rgb(68, 167, 22);
    font-size: 20px;
    font-weight: 500;
}

.real{
    display: inline-block;
    position:relative;
    left:23%;
    color: rgb(209, 45, 39);
    font-size: 20px;
    font-weight: 200;
    text-decoration:line-through;
}

.frame{
    position:relative;
    left: 56%;
    margin-top:-15px;
    color: grey;

}

.dicountF{
    display: inline-block;
    position:relative;
    left: 49.5%;
    color: rgb(68, 167, 22);
    font-size: 20px;
    font-weight: 500;
}

.realF{
    display:none;
    position:relative;
    left:56%;
    color: rgb(209, 45, 39);
    font-size: 20px;
    font-weight: 200;
    text-decoration:line-through;
}

.frameF{
    position:relative;
    left: 59%;
    margin-top:-15px;
    color: grey;

}



.boxFram{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.247);
    margin: 10px 0px;
    height: 150px;
    padding-top: 10px;
    background-color: white;
}

.boxFram3{
    position: relative;
    top: 20px;
    width: 100%;
    /* left: -10px; */
}

}

.glow1{
    background-color: #1c87c9;
    -webkit-border-radius: 60px;
    border-radius:20px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
}

@keyframes glowing {
    0% {
      background-color: #ff6905ad;
      box-shadow: 0 0 3px #ec6a1473;
    }
    50% {
      background-color: #dd69c456;
      box-shadow: 0 0 10px #dd69c42d;
    }
    100% {
      background-color: #ec6a1473;
      box-shadow: 0 0 3px #ec6a1473;
    }
  }

  @keyframes glowing1 {
    0% {
      background-color: #ff6905f3;
      box-shadow: 0 0 3px #ec6a14e8;
    }
    50% {
      background-color: #e205b2e1;
      box-shadow: 0 0 10px #dd69c42d;
    }
    100% {
      background-color: #ec6a14e8;
      box-shadow: 0 0 13px #ec6a14e8;
    }
  }

  .glow{
    background-color: #1c87c9;
    -webkit-border-radius: 60px;
    border-radius:20px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
}




  .glow1 {
    animation: glowing 1300ms infinite;
  }

  .glow{
    animation: glowing1 1300ms infinite; 
  }



  .carouselBtn{
      position:relative;
      z-index:100;
      bottom:221px;
      margin: auto;
      left:55%
      
  }